@layer eno.theme {
  .e-theme-mono {
    --e-theme-text: light-dark(oklch(.1 0 0), oklch(.95 0 0));
    --e-theme-bg: light-dark(oklch(.9 0 0), oklch(.3 0 0));
    --e-theme-border: light-dark(oklch(0 0 0 / .1), oklch(1 0 0 / .1));
    --e-button-background: light-dark(oklch(.9 0 0), oklch(.3 0 0));
    color: light-dark(oklch(.1 0 0), oklch(.95 0 0));
    background: light-dark(oklch(1 0 0), oklch(.2 0 0));
  }

  .e-theme-mono-island {
    --e-theme-bg: light-dark(oklch(.8 0 0), oklch(.4 0 0));
    --e-theme-border: light-dark(oklch(0 0 0 / .1), oklch(1 0 0 / .1));
    --e-button-background: light-dark(oklch(.8 0 0), oklch(.4 0 0));
    color: light-dark(oklch(.2 0 0), oklch(.9 0 0));
    background: light-dark(oklch(.9 0 0), oklch(.3 0 0));
  }

  :root:has(.e-theme-mono, .e-theme-mono-island) {
    color-scheme: light dark;
  }
}
