@layer eno {
  :root {
    --e-size: 1rem;
    /* --e-phi-3: 4.236; */
    --e-phi-2: 2.618;
    --e-phi-1\.5: 2.058;
    --e-phi-1: 1.618;
    --e-phi-\.5: 1.272;
    --e-h-1\.5: round(nearest, calc(2.058 * 1em), 2px);
    --e-h-2: round(nearest, calc(2.618 * 1em), 2px);
    --e-hover-mix: light-dark(#000, #fff) 5%;
    &:has(.e-root) {
      font-size: 100%;
    }
  }
}
