:root {
  --e-scale: 1;
  --e-size: calc(var(--e-scale) * 1rem);
  /* --e-phi-3: 4.236; */
  /* --e-phi-2: 2.618; */
  /* --e-phi: 1.618; */
  --e-phi-half: 1.272;
  --e-phi-inv: 0.618;
  --e-phi-inv-2: 0.382;
  /* --e-phi-inv-3: 0.236; */
  &:has(.e-root) {
    font-size: 100%;
  }
}
