@layer eno {
  .e-button {
    --e-button-h: var(--e-component-h-2);
  }
  .e-button-small {
    --e-button-h: var(--e-component-h-1\.5);
  }
  .e-button, .e-button-small {
    --e-button-gap: calc(var(--e-button-icon-px) / var(--e-phi-1));
    --e-button-icon-px: calc((var(--e-button-h) - 1em) / 2);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: var(--e-button-h);
    padding: 0 calc(var(--e-button-h) / var(--e-phi-1\.5));
    gap: var(--e-button-gap);
    border-radius: 99em;
    position: relative;
    text-decoration: none;
    white-space: pre;
    word-break: keep-all;
    overflow: hidden;
    font-weight: 500;
    line-height: 1;
    /* Settings */
    font-size: var(--e-size);
    color: var(--e-button-color);
    background: var(--e-button-background);
    border: var(--e-button-border, 0px);
    /**/
    & > .e-button-icon {
      --e-button-icon-size: calc(var(--e-size) * var(--e-phi-\.5));
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--e-button-icon-size);
      height: var(--e-button-icon-size);
      font-size: var(--e-button-icon-size);
    }
    &:has(.e-button-icon:first-child) {
      padding-left: var(--e-button-icon-px);
    }
    &:has(.e-button-icon:last-child) {
      padding-right: var(--e-button-icon-px);
    }
  }
}
