@layer eno {
  .e-button {
    --e-button-h: var(--e-h-2);
    --e-button-gap: calc(var(--e-button-icon-px) / var(--e-phi-1));
    --e-button-icon-px: calc((var(--e-button-h) - 1em) / 2);
    cursor: pointer;
    /* Considering the possibility of arranging buttons side by side, adding inline */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--e-button-h);
    padding: 0 calc(var(--e-button-h) / var(--e-phi-1\.5));
    gap: var(--e-button-gap);
    border-radius: 99em;
    white-space: pre;
    word-break: keep-all;
    overflow: hidden;
    text-box: trim-both cap alphabetic;
    /* Remove when text-box is supported */
    line-height: 1;
    /* Settings */
    font-size: var(--e-size);
    color: var(--e-button-color);
    background: var(--e-button-background);
    border: var(--e-button-border, 0px);
    /* hover */
    &:hover {
      background: var(--e-button-hover-background, color-mix(in oklab, var(--e-button-background), var(--e-hover-mix)));
    }
    /* Icon */
    & > .e-button-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      width: 1em;
      height: 1em;
      font-size: calc(1em * var(--e-phi-\.5));
    }
    &:has(.e-button-icon:first-child) {
      padding-left: var(--e-button-icon-px);
    }
    &:has(.e-button-icon:last-child) {
      padding-right: var(--e-button-icon-px);
    }
  }
  .e-small {
    --e-button-h: var(--e-h-1\.5);
  }
}
