@layer eno {
  .e-button {
    --e-button-pad-x-icon: calc(var(--e-phi-inv) * 1em);
    --e-button-pad-y: calc(var(--e-phi-inv-2) * var(--e-phi-half) * 1em);
    --e-button-line-height: calc(var(--e-phi-half) * 1em);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    gap: var(--e-button-pad-x-icon); /* different from liftkit */
    border: 0px solid var(--e-theme-border, transparent);
    border-radius: 99em;
    padding: var(--e-button-pad-y) 1em;
    position: relative;
    text-decoration: none;
    white-space: pre;
    word-break: keep-all;
    overflow: hidden;
    font-weight: 500;
    font-size: var(--e-size);
    line-height: var(--e-button-line-height);
    color: var(--e-theme-text);
    background: var(--e-theme-bg);
    & > .e-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: var(--e-button-line-height);
      height: var(--e-button-line-height);
    }
    &:has(.e-icon:first-child) {
      padding-left: var(--e-button-pad-x-icon);
    }
    &:has(.e-icon:last-child) {
      padding-right: var(--e-button-pad-x-icon);
    }
  }
}
